.getStarted{
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formStyle{
    margin-top: 2%;
    width: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.btn{
    background-color: red;
    width: 30%;
    padding: 3% 5%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.showErr{
    display: flex;
    width: -webkit-fill-available;
    align-items: flex-start;
    padding: 1% 3%;
    color: #ffa00a;
    margin-bottom: 10px;
}

.ctrlform{
    display: flex;
    width: auto;
    justify-content: center;
    position: relative;
}

.inp{
    width: 35vw;
    padding: 0 2%;
    font-size: 20px;
}

.placehold{
    position: absolute;
    color: rgb(95, 97, 96);
    left: 15px;
}

.big{
    position: absolute;
    color: rgb(135, 138, 136);
    left: 15px;
    margin: auto;
    font-size: 20px;
    display: flex;
    height: 100%;
    align-items: center;
}

.small{
    position: absolute;
    color: rgb(135, 138, 136);
    left: 15px;
    display: flex;
    height: 100%;
    top: 1px;
    height: auto;
    font-size: 12px;
    padding-top: 0.4%;
}

input:hover{
    border: none;
    outline: none;
}

input:focus-visible{
    outline: none;
}

input[type='submit']{
    border: none;
    color: white;
}