.logIn{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(15,15,15,0.5) 0%, rgba(30, 32, 33, 0.304) 53%, rgba(36,36,38,0.5) 100%), url('https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png');
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.wrapper{
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper img{
    width: 150px;
}

.cont{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    color: white;

}

.logInForm{
    width: 500px;
    height: 80vh;
    padding: 30px 60px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.785);
    display: flex;
    flex-direction: column;
}

.styleForm{
    position: relative;
    width: 100%;
}


.cont h1{
    margin-bottom: 15px;
}

.containerInput {
    height: 60px;
    width: 100%;
    border-radius: 5px;
    background-color: #333333;
    color: white;
    padding-left: 10px;
    border: none;
    margin-bottom: 0x;
    font-size: 20px;
}

input::placeholder{
    color: lightgray;
}

.logInBtn{
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 5% 0;
    margin-top: 10%;
    cursor: pointer;
}

span{
    color: lightgray;
}

span b {
    color: white    ;
}
 
span a{
    text-decoration: none;
}

input + span{
    margin-top: 30px;
}


small b {
    color: rgb(118, 145, 245);
}

.bigd{
    position: absolute;
    color: rgb(135, 138, 136);
    left: 15px;
    margin: auto;
    font-size: 20px;
    display: flex;
    height: 60px;
    align-items: center;
    top: 0;
}

.errMsg{
    background-color: #E87C03;
    display: flex;
    width: 100%;
    padding: 2% 4%;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    .logIn{
        background: black;
    }
}