.featured{
    background-color: var(--main-color);
    height: 90vh;
    position: relative;
}

.featuredImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; 
}

.category{
    position: absolute;
    top: 80px;
    left: 50px;
    color: white;
    display: flex;
    
    justify-content: center;
    z-index: 2;
}

.category span{
    font-size: 30px;
    margin-right: 20px;
}
.category select{
    background-color: var(--main-color);
    color: white;
    padding: 5px 10px;
    border: none;
}

.mos{
    background-color: black;
    width: 100px;
    display: flex;
    padding: 3% 0;
    justify-content: space-around;
    height: 30px;
    align-items: center;
    cursor: pointer;
}

.mosContainer{
    display: flex;
}

.eachMovieContainer{
    margin-top: 5px;
    background-color: black;
    padding: 0% 5%;
    cursor: pointer;
}

.eachMovieContainer > div{
    padding: 2% 0;
}

.eachSeriesContainer{
    margin-top: 5px;
    
}

.eachView{
    background-color: red;
    padding: 2% 5%;
    cursor: pointer;
}


.red{
    background-color: red;
}

.unique{
    position: absolute;
    background-color:black;
    width: 175px;
    z-index: 15;
}

.unique div{
    padding: 2% 5%;
}

.unique div:hover{
    background-color: red;
    color: black;
    cursor: pointer;
}

.leftMovie{
    left: 295px;
}

.leftSeries{
    left: 330px;
}


.info{
    position: absolute;
    margin: 0 40px;
    bottom: 80px;
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.info .mainT{
    width: 100%;
    height: 100%;
    font-size: 60px;
    padding-left: 7px;
}

.featuredInfo{
    display: flex;
    padding-left: 7px;
    margin-bottom: 13px;
}

.featuredInfo p {
    margin-right: 2%;
    color: lightgray;
    font-size: 15px;
}

.featuredInfoBox{
    border: 1px solid lightgray;
    padding: 0 2%;
}

.bgDark{
    background: rgb(13,13,13);
    background: linear-gradient(109deg, rgba(13,13,13,0.7839307598039216) 0%, rgba(0,0,0,0) 100%);    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.info span{
    margin: 6px 0 10px 10px;
    font-size: 15px;
    color: lightgray;
}

.button{
    display: flex;
    margin-left: 10px;
    font-size: 25px;
}

.play{
    display: flex;
    align-items: center;
    background-color:  white;
    padding: 5px 15px;
    color: black;
    margin-right: 8px;
    justify-content: center;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
}

.play span{
    color: black;
}

.more{
    display: flex;
    align-items: center;
    background-color:  grey;
    padding: 5px 15px;
    color: white;
    justify-content: center;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
}

.button span{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .info{
        width: 86%;
    }
    .category{
        margin-top: 40px;
        flex-direction: column;
    }
    .leftSeries{
        left: 225px;
    }
    .leftMovie{
        left: 195px;
    }
}